#logo{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 50%;

}
h1{
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;
}
section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

input, textarea{
    margin-bottom: 1rem;
}

a{
    color: white !important;
}
